.type-box {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 0.8rem;
    background-color: white;
    color: black;
    cursor: pointer;
    user-select: none;
}

.type-box.toggled {
    color: black;
}

.type-box.type-normal {
    border: 1px solid #A8A878;
}

.type-box.type-fire {
    border: 1px solid #F08030;
}

.type-box.type-fighting {
    border: 1px solid #C03028;
}

.type-box.type-water {
    border: 1px solid #6890F0;
}

.type-box.type-flying {
    border: 1px solid #A890F0;
}

.type-box.type-grass {
    border: 1px solid #78C850;
}

.type-box.type-poison {
    border: 1px solid #A040A0;
}

.type-box.type-electric {
    border: 1px solid #F8D030;
}

.type-box.type-ground {
    border: 1px solid #E0C068;
}

.type-box.type-psychic {
    border: 1px solid #F85888;
}

.type-box.type-rock {
    border: 1px solid #B8A038;
}

.type-box.type-ice {
    border: 1px solid #98D8D8;
}

.type-box.type-bug {
    border: 1px solid #A8B820;
}

.type-box.type-dragon {
    border: 1px solid #7038F8;
}

.type-box.type-ghost {
    border: 1px solid #705898;
}

.type-box.type-dark {
    border: 1px solid #705848;
}

.type-box.type-steel {
    border: 1px solid #B8B8D0;
}

.type-box.type-fairy {
    border: 1px solid #EE99AC;
}

.type-box.toggled.type-normal {
    background-color: #D8D8C0;
}

.type-box.toggled.type-fire {
    background-color: #F5A060;
}

.type-box.toggled.type-fighting {
    background-color: #E07068;
}

.type-box.toggled.type-water {
    background-color: #98B0F0;
}

.type-box.toggled.type-flying {
    background-color: #C0B0F0;
}

.type-box.toggled.type-grass {
    background-color: #A0D890;
}

.type-box.toggled.type-poison {
    background-color: #C880C0;
}

.type-box.toggled.type-electric {
    background-color: #F8E090;
}

.type-box.toggled.type-ground {
    background-color: #F0D890;
}

.type-box.toggled.type-psychic {
    background-color: #F880A0;
}

.type-box.toggled.type-rock {
    background-color: #D8C070;
}

.type-box.toggled.type-ice {
    background-color: #C0E8E8;
}

.type-box.toggled.type-bug {
    background-color: #C0D850;
}

.type-box.toggled.type-dragon {
    background-color: #9060F8;
}

.type-box.toggled.type-ghost {
    background-color: #9070B8;
}

.type-box.toggled.type-dark {
    background-color: #907060;
}

.type-box.toggled.type-steel {
    background-color: #D0D0E0;
}

.type-box.toggled.type-fairy {
    background-color: #F8B0B0;
}