.type-coverage {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    flex: 1 1 45%;
    overflow-x: auto;
    padding: 20px;
    text-align: left;
}

.type-coverage-row {
    align-items: center;
    display: flex;
    height: 30px;
    margin-bottom: 2px;
    white-space: nowrap;
}

.summary-stats {
    margin-top: 20px;
}

.summary-stats p {
    margin: 0;
}
