.slider-container {
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Center the slider container */
    max-width: 600px; /* Set a max width for the slider container */
    padding: 15px;
    width: 100%;
}

#pokemon-slider {
    width: 70%;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 100px;
}

.slider-label {
    margin-right: 10px;
    white-space: nowrap; /* Prevent text wrapping */
}

#pokemon-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 34px;
    height: 34px;
    background: url('../../assets/pokeball.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    border: none;
}

#pokemon-slider::-moz-range-thumb {
    width: 34px;
    height: 34px;
    background: url('../../assets/pokeball.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    border: none;
}

#pokemon-slider::-ms-thumb {
    width: 34px;
    height: 34px;
    background: url('../../assets/pokeball.png') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    border: none;
}
