.recommendations {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    flex: 1 1 45%;
    padding: 20px;
    text-align: left;
}

.recommendations ul {
    list-style: none;
    padding: 0;
}

.recommendations li {
    margin-bottom: 5px;
}
