.recommendations {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    overflow-x: auto;
}

.recommendations-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.recommendations ul {
    list-style: none;
    padding: 0;
}

.recommendations li {
    margin-bottom: 5px;
}