.MainContent {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: calc(100% - var(--sidebar-width));
    overflow-y: auto;
}

.MainContent .content {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MainContent header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
}