.pokemon-picker {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.pokemon-picker .pokemon-image-box {
  margin-top: 10px;
  z-index: -1;
}

.pokemon-picker .pokemon-image {
  max-width: 100%;
  max-height: 100px;
}

.pokemon-picker .css-yk16xz-control {
  width: 100%;
}

.pokemon-picker .css-1pahdxg-control {
  width: 100%;
  box-shadow: none;
  border-color: #ddd;
}

.pokemon-picker .css-26l3qy-menu {
  width: 100%;
}

.pokemon-image-box {
  width: 100%;
  padding-top: 100%;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.pokemon-image-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.pokemon-types {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 5px;
}
